/* Import Font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Format Style */
* {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif, verdana;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
    /*overflow: hidden;*/
    /*overflow: scroll;*/
    background: linear-gradient(to right, #9c27b0, #8ecdff);
}
nav{
    width: 90%;
    position: sticky;
    margin: 5px auto;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    padding-top: 1%;
}
.container-center{
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.title{
    margin: 20px 0px 0px 0px;
}
div label{
    vertical-align: super;
}
.container-center img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.container-center img{
    max-width: 100%;
    height: auto;
    margin-bottom: 5%;
}
.container-center video{
    max-width: 100%;
    height: auto;
}
.container-form{
    display:flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    align-items: flex-start;
}
.phone-item{
    width: 100%;
}
.col-md-6{
    margin-top: 3px;
}
.btn-primary{
    background-color: #44b4c4;
    border-color: white;
    display: block;
    width: 100%;
    margin-top: 10px;
}
.col-md-12{
    display: flex;
    justify-content: center;
}  
.container-success{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}
.red{
    color: rgb(168, 147, 147);
}
input#WhatsApp {
    width: 26px;
    height: 26px;
    margin: 10px;
    border-radius: 5px;
  }
#whatapp-icon{
    font-size: 33px;
    color: white;
}
/*
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}
*/


